<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">

<head>
<meta charset="utf-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{../css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{../css/myStyle.css}" />
</head>
<body>
	<header>
		<div class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/adminCat/index}">List categorie</a></li>
				<li><a th:href="@{/adminCat/FormAjoutCat}">Ajouter
						categorie</a></li>
				<li><a th:href="@{/adminCat/indexSousCat}">List
						sousCategorie</a></li>
				<li><a th:href="@{/adminCat/FormAjoutSousCat}">Ajouter
						SousCategorie</a></li>
				<li><a th:href="@{/adminProd/index}">List Produit</a></li>
				<li><a th:href="@{/adminProd/FormAjoutProd}">Ajouter
						Produit</a></li>
			</ul>
		</div>
	</header>

	<div class="container col-md-8 col-md-offset-2 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">Modification Sous Categorie</div>
			<div class="panel-body">

				<form method="post" th:action="@{/adminCat/saveSousCat}">
				
					<div class="form-group">
						<label class="control-label"></label> <input type="hidden"
							name="idsousCategorie" th:value="${editsouscat.idsousCategorie}" class="form-control" />

					</div>
					<div class="form-group">
						<label class="control-label">Nom Sous cat</label> <input type="text"
							name="nomSousCategorie" th:value="${editsouscat.nomSousCategorie}" class="form-control" />
					</div>
					<div class="form-group">
						<label class="control-label">Categorie</label>
						 <select name="categorie">
							<div th:each="h:${listcategorie}">

								<option th:value="${h.idcategorie}" th:text="${h.nomCategorie}"></option>
							</div>
						</select>
					</div>

					<div>
						<input type="submit" class="btn btn-primary" value="ajouter" />
					</div>

				</form>

			</div>

		</div>

	</div>


	<footer>
		<div class="navbar-fixed-bottom">@jdidfgiudhidh</div>
	</footer>

</body>
</html>